{deps_dir, ["deps"]}.
{erl_opts, [{parse_transform, cut},
	    {parse_transform, do},
	    {parse_transform, import_as}]}.
{deps, [{cecho, "0.0.3", {git, "https://github.com/mazenharake/cecho.git", "master"}},
	{erlando, "2.0", {git, "https://github.com/greenelephantlabs/erlando.git", "master"}}]}.

